.my-carousel {
    padding: 0;
}

.my-carousel .carousel-item {
    display: flex;
    max-height: 600px;
}

.my-carousel .carousel-item img {
    object-fit: cover;
}

.image {
	background: #000;
}
.image img {
	opacity: 0.4;
}

.navbar-collapse {
    justify-content: center;
}

body {
    background: #f8f9fa;
}